@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

/* ========================================= */
/* Global Styles */
/* ========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inclusive Sans", sans-serif;
  background-color: #f5f5f5;
  color: white;
  scroll-behavior: smooth;
}

/* ========================================= */
/* Header Section */
/* ========================================= */

/* Header Section with Background Image */
header#top-header {
  min-height: 100vh;
  background-image: url(./assets/marcodi.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Overlay on background image to make text more visible */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Large Title */
.large-title {
  font-size: 5rem;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-bottom: 30px;
  font-weight: bolder;
}

.tagline {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

/* ========================================= */
/* Navigation Styles */
/* ========================================= */

/* Styling for navigation buttons */
#top-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#top-nav ul li {
  display: inline;
}

#top-nav button {
  background-color: #830b0b;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

#top-nav button:hover {
  background-color: #C70039;
}

#top-nav button:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.6);
}

/* ========================================= */
/* Section Styles */
/* ========================================= */

section {
  padding: 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fade-in effect */
.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
  transition: opacity 0.6s ease-out, trasform 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* ========================================= */
/* Polaroid Styles */
/* ========================================= */

/* Polaroid styling for images */
.polaroid {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  margin: 40px;
  border: 2px solid #333;
  transition: transform 0.3s ease-in-out;
  transform: rotate(-2deg);
  max-width: 750px;
}

.polaroid img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

/* ========================================= */
/* Video Image */
/* ========================================= */

.video-image {
  margin: 10px;
}

.video-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-image:hover {
  transform: scale(1.005);
}

.video-image:focus {
  outline: 3px solid red;
}

/* ========================================= */
/* Styles for Different Sections */
/* ========================================= */

.about {
  color: black;
}

/* Section 1 Background: Burgundy */
.section-1 {
  background-color: #800125;
}

.section-1 .polaroid {
  transform: rotate(-2deg);
}

/* Section 2 Background: Black */
.section-2 {
  background-color: #000;
}

.section-2 .polaroid,
.section-3 .polaroid {
  transform: rotate(2deg);
}

/* Section 3 Background: Gold */
.section-3 {
  background-color: #DAA520;
  color: #000;
}

/* Section 4 Background: Royal Blue */
.section-4 {
  background-color: #00008b;
}

/* Section 5 Background: Gray */
.section-5 {
  background-color: #818181;
}

/* ========================================= */
/* Contact Image Styles */
/* ========================================= */

.contact-img {
  max-width: 500px;
  height: auto;
}

#contact .polaroid img {
  max-width: 500px;
  height: auto;
}

/* ========================================= */
/* Text Styling */
/* ========================================= */

h1 {
  font-size: 2.5rem;
  margin: 0 auto 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2.1rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.05rem;
}

p {
  font-size: clamp(16px, 2.5vw, 2rem);
  line-height: 1.8;
  /* Increased line spacing for better readability */
  max-width: 800px;
  /* Limit text width to improve readability */
  margin: 0 auto 40px;
  /* Bottom margin for spacing */
}

/* ========================================= */
/* Scroll Back to Top Button */
/* ========================================= */

.back-to-top {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 20px;
  right: 20px;
  background-color: #B20000;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 32px;
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.back-to-top:focus {
  outline: 2px solid #FFD700;
}

/* ========================================= */
/* Link Styles */
/* ========================================= */

.link-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.styled-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ee4f4f;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.styled-link:hover {
  background-color: #FFD700;
  color: black;
}

.link-container p {
  font-weight: bold;
  margin: 20px auto 0;
}


/* ========================================= */
/* Contact Form Styling */
/* ========================================= */

#contact-form {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

#contact-form label {
  display: block;
  margin: 10px 0 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

#contact-form input:focus,
#contact-form textarea:focus,
.styled-link:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
  outline: 2px solid #007BFF;
}

#contact-form button {
  background-color: #131313;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #656768;
}

#contact-form button:focus {
  background-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
  outline: 2px solid #007BFF;
}

/* ========================================= */
/* Footer Styling */
/* ========================================= */

footer {
  background-color: #000;
  color: #d3d3d3;
  padding: 20px;
  line-height: 2;
}

footer p {
  line-height: 1;
  margin: 10px;
}

/* ========================================= */
/* Responsive Design and Media Queries */
/* ========================================= */

/* Different layout for larger screens */
@media (min-width: 1025px) {

  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .polaroid {
    flex: 1;
    margin-right: 20px;
  }

  .text-content {
    flex: 2;
  }

  p {
    font-size: 1.3rem;
  }

  .video-container {
    width: 60%;
    height: auto;
  }

}

/* Keeps nav buttons on screen in mobile landscape mode */
@media screen and (orientation: landscape) {

  header#top-header {
    flex-direction: row;
    overflow-y: auto;
  }

  .large-title {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .button-class {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

}

/* Smaller devices */
@media (max-width: 667px) {

  #top-nav ul {
    flex-direction: column;
    gap: 10px;
  }

  #top-nav button {
    width: 200px;
  }

  .large-title {
    font-size: 2.5rem;
  }

}

@media (prefers-reduced-motion: reduce) {

  .fade-in-section {
    transition: none;
  }

}